.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    width: 300px;
    height: 370px;
    background-color: lightgray;
    border: solid 1px;
    border-radius: 4px;
}

.button-layout>ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    
}

.button-row{
    display: flex;
    justify-content: start;
    margin-left: 5px;
    margin-right: 5px;
}
.button-layout{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button{
    width: 25%;
    height: 70%;
    margin: 10px 5px 10px 5px;
    padding: 5px;
    border-radius: 4px;
}

.operator{
    background-color: lightyellow;
}

#C{
    background-color: coral;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px;
    background-color: white;
    border: solid 1px;
    border-radius: 4px;
    height: 50px;
    box-shadow: 3px 3px grey;
    font-size: 24px;
}

.up{
    display: flex;
    justify-content: end;
    word-break: break-all;
}

.down{
    display: flex;
    justify-content: end;
}